name: Check dist

on:
  push:
    branches:
      - main
    paths_ignore:
      - '**.md'
  pull_request:
    paths_ignore:
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-dist:
    uses: actions-mn/shared/.github/workflows/check-dist.yml@main
