name: lint-and-test

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'yarn'

    - run: yarn install --frozen-lockfile
    - run: yarn build
    - run: yarn format-check
    - run: yarn test
